@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Contact Info */
.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

.contact-info-item-container {
    width: 550px;
    padding: 7px;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    font-weight: 300px;
}

/* Banner */
.banner-container {
    background-color: #E554731A;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 1100px;
}

.banner-image-container {
    padding-bottom: 0;
}

.banner-image {
    width: 425px;
    height: 550px;
    margin-bottom: -5px;
}

.banner-title {
    font-size: 50px;
}

.banner-description {
    font-size: 18px;
    margin: 20px 0px 20px 0px;
}

.common-button {
    background-color: #E55473;
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 5px;
    font-size: 14px;

}

/* Featured */
.full-featured-section-container{
    margin-top: 150px;
}

.featured-title{
    text-align: center;
}

.featured-description{
    text-align: center;
}

.featured-container{
    display: flex;
    justify-content: center;
}
.featured-item-container{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    align-items: center;
}

.featured-title{
    font-size: 35px;
}

.featured-description{
    font-size: 18px;
    margin: 25px 0px 25px 0px;
}

.featured-item-1{
    background-color: #A7216226;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 356px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.featured-item-2{
    background-color: #0597A026;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 356px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.featured-item-3{
    background-color: #477D1126;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 356px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.featured-image{
    width: 280px;
    height: 400px;
}
.featured-image-2{
    width: 350px;
    height: 400px;
}

.featured-image-caption-container{
    display: flex;
    justify-content: space-between;
    width: 870px;
    margin: 0 auto;
    list-style-type: none;
    padding: 27px 0px;
}

a{
    color: black;
}

/* Offer */
.offer-section-container{
    background-color: #E554730D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 70px 0px;
}

.offer-info-container{
    text-align: center;
    margin-left: 100px;
}

.offer-title{
    font-size: 28px;
}

.offer-description{
    font-size: 18px;
    margin: 25px 0px;
}

.offer-image-container{
    margin-right: 100px;
}

/* Instagram */
.instagram-title{
    text-align: center;
    font-size: 30px;
}

.instagram-description{
    text-align: center;
    font-size: 18px;
    margin: 20px 0px 45px 0px;
}

.instagram-image-container{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
}

.instagram-image{
    width: 267px;
    height: 300;
}

/* Subscription */
.subscription-section-container{
    margin: auto;
    height: 400px;
    width: 1100px;
    text-align: center;
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-item-container{
    padding-bottom: 50px;
}

.subscription-title{
    font-size: 28px;
}

.subscription-description{
    font-size: 18px;
    margin: 15px 0px 40px 0px;
}
[type="email"]{
    width: 600px;
    padding: 12px 0px 12px 0px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

/* Footer */
.footer-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111010;
    padding: 100px 0px;
}
.footer-info-container{
    text-align: center;
    color: rgb(250, 201, 201);
}

.pink-color-text{
    color: #E55473;
}

.footer-title{
    font-size: 25px;
}
.footer-description{
    font-size: 17px;
    margin: 15px 0px;
}